@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$color-white: #ffffff;
$color-gray: #d8d8d8;
$color-khaki: #F4F1EA;
$color-green: #00635D;
$color-brown: #382110;
$color-light: #f8f7f4;
$font-main: 'Lato', sans-serif;

// lato, helvetica, sans serif