@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$color-white: #ffffff;
$color-gray: #222222;
$color-dark-blue: #151e3f;
$color-blue: #2f4858;
$color-red: #87092D;
$font-main: 'Lato', sans-serif;

// lato, helvetica, sans serif