@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$color-white: #ffffff;
$color-gray: #8B92AB;
$color-dark: #2E3038;
$color-red: #FF4A5A;
$font-main: 'Lato', sans-serif;

// lato, helvetica, sans serif