@import '../../styles/vars';

 .mobile-nav {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;   
  padding: 0 15px;
 }

 .mobile-menu {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 100vh;
   margin-top: 110px;
   transition: transform 700ms;
   width: 100%;
   
   li {
     color: $color-gray;
     font-size: 30px;
     margin: 10px 0;
    }
    
    .active {
      color: $color-dark;
    }
  }
          
    
    
    
.mobile-menu.show {
  transform: translateX(0);
}
          
.mobile-menu.hide {
  transform: translateX(100%)
}